
<html>

    <head>
        {% include "CmfCreateBundle::includecssfiles.html.twig" %}
    </head>

    <body>
        {% createphp blog as="rdf" noautotag %}
        <div {{ createphp_attributes(rdf) }}>
            <h1 class="my-title" {{ createphp_attributes( rdf.title ) }}>{{ createphp_content( rdf.title ) }}</h1>
            <div {{ createphp_attributes( rdf.body ) }}>{{ createphp_content( rdf.body ) }}</div>
        </div>
        {% endcreatephp %}

        {% render(controller(
        "cmf_create.jsloader.controller:includeJSFilesAction",
        {"editor": "ckeditor" }
        )) %}
    </body>

</html>